{% extends 'shop/basic.html' %}

{% block title%} About us{% endblock %}
{% block body %} <body>
    <div id="wrapper">
    <div class="topbar">
      <div class="container">
        <div class="row">
        
      <div class="col-md-1">
      <a class="navbar-brand" href="index.html"></a></div>
      
      <!-- ********************************************************************************** -->
        <div class="col-md-11">
        <!-- <a class="navbar-brand" href="index.html"><img src="img/logo1.png" alt="logo1"/></a>-->
        <p class="collegename"; style="text-align:center;font-weight: bold;"><span>GOKARAJU RANGARAJU INSTITUTE OF ENGINEERING AND TECHNOLOGY</span>
        
        </p>
        
        <p class="hbs"; style="text-align:center;font-weight: bold;"><span>DEPARTMENT OF BASIC SCIENCES AND HUMANITIES</span></p></div>
        
            <!-- <div class="row">
          <div class="col-md-12"> 	  
            <p class="pull-left hidden-xs"><i class="fa fa-clock-o"></i><span>Mon - Sat 8.00 - 18.00. Sunday CLOSED</span></p>
            <p class="pull-right"><i class="fa fa-phone"></i>Tel No. (+001) 123-456-789</p>
          </div> -->
        </div>
        
          <!-- ********************************************************************************** -->
      </div>
    </div>
        <!-- start header -->
            <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                      <a class="navbar-brand" href="http://www.griet.ac.in/"></a>
                    </div>
      <!-- ********************************************************************************** -->
                    
                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="index.html">Home</a></li> 
                            
                             <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">DEPARTMENTS<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="mat.html">MATHEMATICS</a></li>
                                <li><a href="phy.html">PHYSICS</a></li>
                                <li><a href="che.html">CHEMISTRY</a></li> 
                                <li><a href="eng.html">ENGLISH</a></li>
                                <li><a href="hum.html">HUMANITIES</a></li>
                            </ul>
                        </li>
     
                            <li><a href="academic.html">ACADEMICS</a></li>
                            <li><a href="admission.html">ADMISSIONS</a></li>
                            <li><a href="about.html">ABOUT US</a></li>
                            <!--<li><a href="pricing.html">Pricing</a></li>-->
                            <li><a href="contact.html">CONTACT</a></li>
                        </ul>
                    </div>
    <!-- ********************************************************************************** -->		
                    
                    
                </div>
            </div>
        </header><!-- end header -->
        <section id="inner-headline">
        <div class="container">
        
        
        <div class="col-lg-12">
                    <h4 style="text-align:center"><strong><font size="4.0" color= #ffffff>ABOUT US</font></strong></h4>
                </div>
                
        
        </div>
        </section>
        <br><br>
        
            <section class="section-padding">
            <div class="container">
                <div class="row showcase-section">
                    <div class="col-md-4">
                    <h4>ADVANCED ACADEMIC CENTER</h4><br>
                    </div>
                    <div class="col-md-8">
                        <div class="about-text">
                        <!-- 	<h4>ADVANCED ACADEMIC CENTER</h4> -->
                            <p class="text-justify"> As the name suggests, AAC excites students and staff to work on inter-disciplinary projects leading to out of the box thinking. It is very heartening to mention that both senior and talented young faculty members are associated with AAC. Students work with them with a free mind which produces some high-quality output. AAC designs and executes projects for students, organizes workshops on specialized engineering software and hardware tools and also organizes special lectures which are domain specific. 
    Students can be admitted at the beginning of the first and second year of B.Tech. Lateral entry students are also admitted. Students shall be trained to ultimately work in the following domains where GRIET has expertise.
    <BR><BR>(a)	Core C-Programming <BR>
    (b)	Data Science<BR>
    (c)	Machine learning<BR>
    (d)	Digital image processing<BR>
    (e)	Satellite image processing<BR>
    (f)	Arduino applications<BR>
    (g)	Modern Physics
    <BR>(h)	Electricity and magnetism
    <BR>(i)	Web applications
    <BR>(j)	Internet of things
    <BR>(k)	Curve and surface modeling
    <BR>(l)	Fourier and Wavelet transform applications
    <BR>(m)	 Content based image retrieval
    <BR>(n)	Electronic chip design
    <BR>(o)	Lab View applications
    <BR>(p)	Networking
    <BR>(q)	Drafting and modeling through AUTOCAD & Fusion 360  
    </p>
                             
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
            <!-- <section id="content"> -->
        <div class="container">
        
                            <div class="row"> 
                                <div class="col-md-4">
                                    
                                        <h4>AAC SELECTION PROCESS</h4></div>
                                <div class="col-md-8">		
                                        <p class="text-justify"><br>
    The selection process is rigorous consisting of two stages:
    <br><br>(a) Registration on-line at aacgriet.org 
    <br>(b) A personal interview<br>
    <br><br><b>PERSONAL INTERVIEW</b>
    <br><br>Fundamental knowledge in Calculus, Geometry, Mechanics, Electricity and magnetism and questions related to programming logic will be tested at the personal interview. Students are required to appear at the Personal interview with a 1-page abstract on an original scientific/engineering idea that is implementable.<br><br>
    This center is being administered by Dr.S.Ramamurthy, Professor of Mathematics and Associate Dean (AAC).
    </p>
    
                        </div>
                        </div> <hr>
        </div>
        <!-- </section> -->
        
    <!-- 	<section id="content"> -->
        
    <!-- 	<section class="section-padding">
            <div class="container">
                <div class="row showcase-section">
                    <div class="col-md-6">
                        <img src="img/Block3.png" alt="showcase image">
                    </div>
                    <div class="col-md-6">
                        <div class="about-text">
                            <h4>FIRST YEAR BLOCK</h4>
                            <p class="text-justify"> First year classes for all disciplines are conducted in Block3. The Block3 is a seven storey building constitutes Library, Zym, Principal office etc. Most of the class rooms are fitted with LED projectors. Lift facility is available for students and staff. Separate ramp is provided for diasbled persons.</p>
                             <p class="text-justify">To follow green energy initiative this building is installed with solar panels to a capacity of 300 KW. This energy is used for internal consumption in tandem with Telangana state electrical board supply.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        
        
        
        <div class="container">
                        
                        <div class="about">
                    
                            
                            <div class="row">
                                <div class="col-md-12">
                                    <!-- Heading and para -->
                                    <div class="block-heading-two">
                                        <h4><span>FIRST YEAR B.TECH</span></h4>
                                    </div>
                                    <p class="text-justify">This institute admits 1200 students across six engineering streams: CE, EEE, ME, ECE, CSE and IT. The admission process comes to an end typically by the first week of August each year. A 4- day orientation program is organized to familiarize parents, students and stake holders with the processes at GRIET and how to maximize career opportunities. The faculty are introduced and the heads of departments have an interactive session with freshers to educate them about the strengths of the department, the running projects and how the student gets an opportunity to be a part of some critical projects. As mandated by AICTE, a 3-week long induction program precedes the curricular work.
    </p><p class="text-justify">The curriculum is a good blend of basic sciences like Physics, Chemistry and mathematics, humanities which includes courses on English and basic engineering like programming, basic electrical engineering and engineering graphics. Experienced faculty are drafted to handle these courses.
    </p><p class="text-justify">The first year administration is controlled by  HOD, Dr.B.Srinivasa Rao, who is the current incumbent. He is supported by committees that is responsible for drafting time tables, CRT schedules, maintaining disciple, managing assets of the first year, selection of student groups for class management and selection of students with special talents to represent the institute at various competitions. A hallmark of the first-year administration is the Advanced Academic Center (AAC) that selects students with special talents and out of the box thinking. About 25% of students are currently undergoing training in contemporary domains like IOT, 3-D printing, modeling using Fusion-360, Machine learning, to mention a few. This center trains students to program in Matlab and Python. Senior faculty as well as senior students mentor the young first year AAC students.
     </p>
                                </div>
                            </div></div></div>
    
        
            <div class="container">
                <div class="row showcase-section">
                
    
                    
                    <div class="col-md-6">
                        <div class="about-text">
                            <h4>FIRST YEAR BLOCK</h4>
                            <p class="text-justify"> First year classes for all disciplines are conducted in Block3. The Block3 is a seven storey building constitutes Library, Zym, Principal office etc. Most of the class rooms are fitted with LED projectors. Lift facility is available for students and staff. Separate ramp is provided for diasbled persons.</p>
                             <p class="text-justify">To follow green energy initiative this building is installed with solar panels to a capacity of 300 KW. This energy is used for internal consumption in tandem with Telangana state electrical board supply.</p>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                    </div>				
                    
                    
                </div><hr>
            </div>
        
        
        <div class="container">
    
        <h3><font size="4.0">ADMINISTRATIVE MEMBERS FOR FIRST YEAR</font></span></h3>
         
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Name</th>
            <th>Designation</th>
            <th>Room No</th>
            <th>E-mail</th>
            
          </tr>
        </thead>
        <tbody>
        <tr>
            <td>Dr.B.Srinivasa Rao</td>
            <td>Professor & HOD</a> </td>
            <td>3203</td>
            <td>parasar1962@yahoo.in</a> </td>	
            </tr>
          <tr>
            <td>Dr.S.Ramamurthy</td>
            <td>Professor & Associate Dean (AAC) </a> </td>
            <td>3210</td>
            <td>suriramamurthy7@griet.ac.in</a> </td>	
            </tr>
          
          <tr>
            <td>Dr.G.Patrick</td>
            <td>Professor</a> </td>
            <td>3208</td>
            <td>gratian.patrick@gmail.com</a> </td>	
            </tr>
    
            <tr>
            <td>Dr.V.L.Prasanna</td>
            <td>Associate Professor</a> </td>
            <td>3305</td>
            <td>vlprasanna69@gmail.com</a> </td>	
            </tr>
            <tr>
            <td>S.Bhagat Kumar</td>
            <td>Assistant Professor</a> </td>
            <td>3308</td>
            <td>somabagh@gmail.com</a> </td>	
            </tr>
            
            <tr>
            <td>D.Suguna Kumari</td>
            <td>Assistant Professor</a> </td>
            <td>3210</td>
            <td>pandamaneni.suguna@gmail.com</a> </td>	
            </tr>
          
        </tbody>
      </table>		
        
                                                     
                             <br>
        
                                                <!-- Our team starts -->
                            
                            <div class="team-six">
                                <div class="row">
                                    <div class="col-md-2 col-sm-5 col-md-offset-1">
                                        <!-- Team Member -->
                                        <div class="team-member">
                                            <!-- Image -->
                                            <img class="img-responsive" src="img/jnmurthy.jpg" alt="">
                                            <!-- Name -->
                                            <h4>Dr.Jandhyala N Murthy</h4>
                                            <span class="deg">Director</span> 
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2 col-sm-5 col-md-offset-1">
                                        <!-- Team Member -->
                                        <div class="team-member">
                                            <!-- Image -->
                                            <img class="img-responsive" src="img/praveen.jpg" alt="">
                                            <!-- Name -->
                                            <h4>Dr.Praveen<br> Jaggi</h4>
                                            <span class="deg">Principal</span> 
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-2 col-sm-5 col-md-offset-1">
                                        <!-- Team Member -->
                                        <div class="team-member">
                                            <!-- Image -->
                                            <img class="img-responsive" src="img/Dr. B.Srinivasa Rao.jpg"   alt="">
                                            <!-- Name -->
                                            <h4>Dr. B.Srinivasa Rao</h4>
                                            <span class="deg"> Professor & HOD of (BASIC SCIENCES AND HUMANITIES)	</span> 
                                        </div>
                                    </div>
                                    
                                        
                                    <div class="col-md-2 col-sm-5 col-md-offset-1">
                                        <!-- Team Member -->
                                        <div class="team-member">
                                            <!-- Image -->
                                            <img class="img-responsive" src="img/Dr.Ramamurthy Suri.jpg" alt="">
                                            <!-- Name -->
                                            <h4>Dr.S.RamaMurthy</h4>
                                            <span class="deg">Professor & Associate Dean (AAC)</span> 
                                        </div>
                                    </div>
                                    
                                    
                                </div>
                            </div>
                            
                            <!-- Our team ends -->
                          
                            
                        </div>
                                        
                
        
        <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">Our Contact</h5>
                        
                        <address>
                        <strong>Gokaraju Rangaraju Institute of Engineering & Technology</strong><br>
                        Nizampet Road, Bachupally,<br>
                         Kukatpally,Hyderabad- 500090 <br> 
                         Telangana State, India.
                         </address>
                             
                        <p>
                            <i class="icon-phone"></i>Phone: 7207344440, 7207714441 <br>Fax: +91-040-23040860<br>
                            <i class="icon-envelope-alt"></i>Email: info@griet.ac.in
                        </p>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">Department Links</h5>
                        <ul class="link-list">
                            <li><a href="mat.html">Department of Mathametics</a></li>
                            <li><a href="phy.html">Department of Physics</a></li>
                            <li><a href="che.html">Department of Chemistry</a></li>
                            <li><a href="eng.html">Department of English</a></li>
                            <li><a href="hum.html">Department of Humanities</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">Quick Links</h5>
                        <ul class="link-list">
                            <li><a href="index.html">Home</a></li>
                            <li><a href="academic.html">Academics</a></li>
                            <li><a href="admission.html">Admissions</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                            <li><a href="pdf/emagazine.pdf" target="_blank">e-GEM Magazine</a></li>
                        </ul>
                    </div>
                </div>
                
                <div class="col-md-3 col-sm-3">
                    <div class="widget">
                        <h5 class="widgetheading">Other Links</h5>
                        <ul class="link-list">
                            <li><a href="http://www.griet.ac.in/accred.html" target="_blank">Accreditations</a></li>
                            <li><a href="http://www.griet.ac.in/pragnya/index.html" target="_blank">PRAGNYA 90.4 FM</a></li>
                            <li><a href="http://www.griet.ac.in/water.html" target="_blank" >Water Treatment Plant</a></li>
                            <li><a href="http://www.griet.ac.in/labs.html" target="_blank">Laboratories</a></li>
                            <li><a href="http://www.griet.ac.in/assos.html" target="_blank">Professional Associations</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        <!-- </div>
        <div id="sub-footer"> -->
            <!-- <div class="container"> -->
                <div class="row">
                    <div class="col-lg-8">
                        <div class="copyright">
                            <p class="text-white"><span>&copy; GRIET AAC 2018, All right reserved.</span>
                            </p>
                        </div>
                    </div>
                    
                
                    
                    
                </div>
            <!-- </div> -->
        </div>
        </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/jquery.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.fancybox.pack.js"></script>
    <script src="js/jquery.fancybox-media.js"></script> 
    <script src="js/jquery.flexslider.js"></script>
    <script src="js/animate.js"></script>
    <!-- Vendor Scripts -->
    <script src="js/modernizr.custom.js"></script>
    <script src="js/jquery.isotope.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/animate.js"></script>
    <script src="js/custom.js"></script>
    </body>
     {% endblock %}